<div>
  <style id="index-page-styles">{{styles}}</style>
  <h1>Aliens</h1>

  <form action="/search">
    <input type="text" value="{{filter}}" name="q"
      placeholder="Search species"class="alien-search" />
  </form>
  <ul class="species">
    {{#species}}
    <li class="specie">
      <a href="/article/{{id}}">
        <figure>
          {{#tn}}
            <img src="{{.}}" />
          {{/tn}}
        </figure>
        <span class="specie-title">{{title}}</span>
      </a>
    </li>
    {{/species}}
  </ul>
</div>
